In [1]:
import pandas as pd

In [7]:
dataset=pd.read_csv("positions_individus.csv")
dataset

   identifiant   latitude  longitude                 data
0           B1  47.573469 -73.114275  2021-01-01 05:38:34
1           B2  47.573601 -73.114778  2021-01-01 05:59:13
2           B3  47.573973 -73.116270  2021-01-01 06:27:12
3           B4  47.575186 -73.112146  2021-01-01 06:29:11
4           B5  47.576028 -73.114168  2021-01-01 06:57:03
..         ...        ...        ...                  ...
95          B1  47.573600 -73.112860  2021-01-02 09:02:39
96          B2  47.575173 -73.116402  2021-01-02 09:24:34
97          B3  47.576147 -73.115280  2021-01-02 09:25:24
98          B4  47.573392 -73.111644  2021-01-02 10:20:58
99          B5  47.574225 -73.112732  2021-01-02 10:44:55

[100 rows x 4 columns]

In [16]:
filtered_data = dataset[(dataset["latitude"] > 46.57518499) & (dataset["latitude"] < 48.57518499) & (dataset["longitude"] > -74.11472236) & (dataset["longitude"] < -72.11472236)]
filtered_data

   identifiant   latitude  longitude                 data
0           B1  47.573469 -73.114275  2021-01-01 05:38:34
1           B2  47.573601 -73.114778  2021-01-01 05:59:13
2           B3  47.573973 -73.116270  2021-01-01 06:27:12
3           B4  47.575186 -73.112146  2021-01-01 06:29:11
4           B5  47.576028 -73.114168  2021-01-01 06:57:03
..         ...        ...        ...                  ...
95          B1  47.573600 -73.112860  2021-01-02 09:02:39
96          B2  47.575173 -73.116402  2021-01-02 09:24:34
97          B3  47.576147 -73.115280  2021-01-02 09:25:24
98          B4  47.573392 -73.111644  2021-01-02 10:20:58
99          B5  47.574225 -73.112732  2021-01-02 10:44:55

[100 rows x 4 columns]

In [12]:
-

False